import(rlang)
import(stats)
import(utils)
import(dplyr)
import(epitools)
import(ggplot2)
import(here)
import(lubridate)
import(pacman)
import(purrr)
import(readr)
import(remotes)
import(rlang)
import(stringr)
import(tibble)
import(tidyr)

export(ASSIGN)
export(AUTONUMBER)
export(CHECK_IF_THEN)
export(COMMENT_LEGAL)
export(CREATE_FORM)
export(CROSS_TAB)
export(FREQ)
export(IS_REQUIRED)
export(LIST)
export(MATCH)
export(MEANS)
export(PLOT)
export(SAMPLE_SIZE)
export(SELECT)
export(SORT)
export(STATCALC)
export(SUMMARY)
export(TABLE)
export(analisando_acuracia)
export(calcula_periodo_anos)
export(criar_dicionario)
export(criar_pastas)
export(format_est)
export(format_est_ic95)
export(format_estimate)
export(format_n_int)
export(format_n_perc)
export(format_perc)
export(format_pvalor)
export(incomp_sist_multi_char)
export(incomp_sist_multi_dt)
export(p_valor_z)
export(pacotes_uteis)
export(tab_biv)
export(tema_episus)
